<link type="text/css" href="/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<section class="content-wrapper main-content clear-fix">
    <h1>GET api/contracts?pbn={pbn}</h1>
    <p>Returns the makeable contracts as an JSON array for the specified PBN deal.</p>
    <p>
        <b>{pbn}</b> specifies the cards of each hand.  It is formatted as a 
        <a href="http://pbn.tistis.nl/pbn_v21.txt">PBN Deal tag</a>,
        for example
        <code>"W:KJ95.T.AT873.T98 76.AQJ9642.KJ.QJ QT8.K87.962.A654 A432.53.Q54.K732"</code>.
    </p>
</section>

