<link type="text/css" href="/Areas/HelpPage/HelpPage.css" rel="stylesheet" />

<div id="body">

    <section class="content-wrapper main-content clear-fix">
        <h1>GET api/contracts?pbn={pbn}&amp;stats=true</h1>
        <p>Returns the makeable contracts and solver statistics for the specified PBN deal.</p>
        <p>
            <b>pbn</b> specifies the cards of each hand.  It is formatted as a
            <a href="http://pbn.tistis.nl/pbn_v21.txt">PBN Deal tag</a>.
            For example
            <code style="word-break: break-all">W:KJ95.T.AT873.T98 76.AQJ9642.KJ.QJ QT8.K87.962.A654 A432.53.Q54.K732</code>.
            The value must be <a href="https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding">URL encoded</a>,
            a <kbd>space</kbd> is converted to a <kbd>+</kbd>
            or <kbd>%20</kbd>.
        </p>
        <p>
            <b>stats</b> must be true.
        </p>

        <h2>Example</h2>
        <p>
            <pre><code>GET /api/contracts?pbn=W:KJ95.T.AT873.T98+76.AQJ9642.KJ.QJ+QT8.K87.962.A654+A432.53.Q54.K732&amp;stats=true HTTP/1.1
Host: dds-3.apphb.com</code></pre>
        </p>
        <p>
            <pre><code>HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8

{
   "stats" : 
   {
       "processorCount" : 4,
       "processorSpeedMhz" : 2500,
       "runTime" : "00:00:03.3757117"
   },
   "contracts":
   [{
       "risk" : "none",
       "declaror" : "east",
       "level" : 1,
       "tricks" : 7,
       "denomination" : "clubs"
   },
   ...
   ]}
 }</code></pre>
        </p>

        <h2>Resources</h2>

        <h3>Stats</h3>
        <table class="help-page-table">
            <thead>
                <tr><th>Name</th><th>Description</th><th>Additional information</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>processorCount</td>
                    <td>The number of logical CPUs</td>
                    <td></td>
                </tr>
                <tr>
                    <td>processorSpeedMhz</td>
                    <td>The speed of the CPU(s)</td>
                    <td>Measured in megahertz</td>
                </tr>
                <tr>
                    <td>runTime</td>
                    <td>The time to solve the contract</td>
                    <td>hours, minutes and seconds</td>
                </tr>
            </tbody>
        </table>

        <h3>Contract</h3>
        <table class="help-page-table">
            <thead>
                <tr><th>Name</th><th>Description</th><th>Additional information</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td>risk</td>
                    <td><i>not used</i></td>
                    <td>Always "none"</td>
                </tr>
                <tr>
                    <td>declaror</td>
                    <td>The player who first bid the denomination</td>
                    <td>"north", "east", "south", or "west"</td>
                </tr>
                <tr>
                    <td>level</td>
                    <td>The level of the contract</td>
                    <td>A value between 1 and 7</td>
                </tr>
                <tr>
                    <td>tricks</td>
                    <td>The number of tricks that can be made</td>
                    <td>This is simply <code>level + 6</code></td>
                </tr>
                <tr>
                    <td>denomination</td>
                    <td>The trump suit or notrumps</td>
                    <td>"clubs", "diamonds", "hearts", "spades" or "noTrumps"</td>
                </tr>
            </tbody>
        </table>

    </section>

</div>