<link type="text/css" href="/content/docs.css" rel="stylesheet" />

<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>DSS API Overview</h1>
        </div>
    </div>
</header>

<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Services to determine makeable bridge contracts.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">


        <h2>Methods</h2>
        <table class="help-page-table">
            <thead>
                <tr><th>API</th><th>Description</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td class="api-name"><a href="/docs/api/get-contracts-pbn">GET api/contracts?pbn={pbn}</a></td>
                    <td class="api-documentation">
                        <p>Get makeable contracts.</p>
                    </td>
                </tr>
                <tr>
                    <td class="api-name"><a href="/docs/api/get-contracts-pbn-stats">GET api/contracts?pbn={pbn}&amp;stats=true</a></td>
                    <td class="api-documentation">
                        <p>Get makeable contracts and solver statistics.</p>
                    </td>
                </tr>
                <tr>
                    <td class="api-name"><a href="/docs/api/get-contracts-pbn-html">GET api/contracts?pbn={pbn}&amp;html=true</a></td>
                    <td class="api-documentation">
                        <p>Get a hand record with makeable contracts.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    @Html.Partial("_Disqus")
</div>

