<div class="jumbotron">
    <h1>DDS</h1>
    <p class="lead">A Double Dummy Solver that determines the <b>makeable</b> contracts for a bridge hand.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Use the online web page to enter a hand.  It will show the makeable contracts and various
        high card points for each seat.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301870">Solve a hand</a></p>
    </div>
    <div class="col-md-4">
        <h2>Developer API</h2>
        <p>A REST interface to help developers build cool things from solving bridge hands. It can return the makeable contracts as JSON.</p>
        <p>
           <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Try it</a>
           <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Overview</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Credits</h2>
        <p>Big thanks to Bo Haglund and Soren Hein for open sourcing the <a href="https://github.com/dds-bridge/dds">DDS algorithm</a>
        and <a href="https://appharbor.com/">App Harbor</a> for free hosting.</p>
    </div>
</div>
